* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    text-align: center;
}
body {
    background-color: rgb(250,220,170);
}

h1 {
    margin: 30px;
}

h3 {
    margin: 20px;
}

div {
    width: 500px;
    margin: 20px auto;
}

ul, ol {
    list-style: none;
}